.container {
  margin: 6% 15%;;
  min-height: 100%;
}

.form-p1 {
  min-width: 310px;
  min-height: 390px;
}

.form-p2 {
  min-width: 310px;
  height: 390px;
}

.field-group {
  margin: 15px 0;
}

.form-field {
  width: 240px;
}

.form-label {
  width: 80px;
}

.buttons-group {
  width: 100%;
  margin: 70px 0;

}

.backButton {
  margin-right: 25px;
}

@media (max-width: 900px) {
  .buttons-group {
    margin-top: 0 !important;
  }
}
